#root {
  --primary-color: #22B14C;
  --secondary-color: #FFF200;
  --header-height: 50px;

  margin: 0;
  padding: 0;
  text-align: center;
}

button { 
  border: none;
  background-color: transparent;
}

header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  min-height: --header-height;

  display: flex;
  flex-direction: column;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-color: white;
}

header h1 {
  font-size: 25px;
  color: var(--primary-color);
}

#home-page, #create-room-page, #add-appliance-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: var(--header-height) 1rem;
}

#home-page img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.add-room-button {
  width: fit-content;
}

.blank-home-cards {
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.total-watts {
  background-color: var(--secondary-color);
}

.most-watts {
  background-color: #FF0000;
}

.home-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-btn {
  background-color: #FFFFFF;
  padding: 3px 20px;
  border-radius: 5px;
}