@import "@fontsource/inter/400.css"; /* Regular */
@import "@fontsource/inter/500.css"; /* Medium */
@import "@fontsource/inter/600.css"; /* Semi-Bold */
@import "@fontsource/inter/700.css"; /* Bold */

#root {
  --primary-color: #102617;
  --secondary-color: #62a87c;
  --accent-color: #224424;
  --header-height: 50px;

  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
}

button { 
  border: none;
  background-color: transparent;
  cursor: pointer; /*pointer could add better UX*/
}

header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  min-height: var(--header-height); /*fixed variable*/

  display: flex;
  flex-direction: column;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-color: white;
}

header h1 {
  font-size: 25px;
  color: var(--primary-color);
}

#home-page, #create-room-page, #add-appliance-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: var(--header-height) 1rem;
}

#create-room-page {
  color: #FFFFFF;
  background-color: #171717;
}

.back-and-exit-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.back-and-exit-group button img {
  height: 30px;
}

 .back-and-exit-group img {
  height: 25px;
 }

.add-room-process-header {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}

.add-room-process-subtext {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 25px;
  opacity: 60%;
}

.list-title {
  font-size: 15px;
  font-weight: 500;
  opacity: 60%;
}

.list-container {
  height: 58vh;
  width: 100%;
  overflow: auto;
}

.common-name {
  font-weight: 400;
  font-size: 15px;
}

.common-name-active {
  color: var(--primary-color);
}

.common-room-name-container hr {
  margin-bottom: 20px;
}

.common-name-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  margin-bottom: -5px;
}

.bottom-primary-button {
  position: fixed;
  bottom: 45px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color) !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
}

.bottom-button-bkg {
  position: fixed;
  bottom: 45px;
}

#home-page img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.add-appliance-group {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
}

.add-appliance-group p {
  font-size: 12px;
  color: #000000;
}

.add-appliance-img {
  width: 45%;
  object-fit: contain;
}

.add-appliance-button {
  height: 50px;
  width: 100%;
}

.list-spacer {
  height: 45px;
}

.blank-home-cards {
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.watt-rects {
  width: 75px;
  height: 30px;
  border-radius: 8px;
}

#watt-rects-group {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#total-watts {
  background-color: var(--secondary-color);
}

#most-watts {
  background-color: var(--accent-color);
}

.home-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-btn {
  background-color: #FFFFFF;
  padding: 3px 20px;
  border-radius: 5px;
}
.brand-logo {
  height: 40px;
  width: auto;
  object-fit: contain;
  display: block;
}
