#root {
  --primary-color: #22B14C;
  --secondary-color: #FFF200;
  --accent-color: #FFC90E;
  --header-height: 50px;

  margin: 0;
  padding: 0;
  text-align: center;
}

button { 
  border: none;
  background-color: transparent;
}

header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  min-height: --header-height;

  display: flex;
  flex-direction: column;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-color: white;
}

header h1 {
  font-size: 25px;
  color: var(--primary-color);
}

#home-page, #create-room-page, #add-appliance-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: var(--header-height) 1rem;
}

#home-page img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.add-room-button {
  width: fit-content;
}

.add-appliance-group {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
}

.add-appliance-group p {
  font-size: 12px;
  color: #000000;
}

.add-appliance-img {
  width: 75%;
  object-fit: contain;
}

.add-appliance-button {
  height: 45px;
  width: 100%;
}

.blank-home-cards {
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.watt-rects {
  width: 75px;
  height: 30px;
  border-radius: 8px;
}

#watt-rects-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#total-watts {
  background-color: var(--secondary-color);
}

#most-watts {
  background-color: var(--accent-color);
}

.home-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-btn {
  background-color: #FFFFFF;
  padding: 3px 20px;
  border-radius: 5px;
}